html{
    background-color:rgba(122, 191, 191, .5);
    position: relative;
}
body{
    width: 414px;
    background-color: #F2F2F2 ;
    text-align: center;
    margin:auto;
    position:relative;
}

header h1{
    visibility: hidden;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-size: 40px;

}
h2{
    position:relative;
    top:80px;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-size: 30px;
    text-transform: uppercase;
}

.img_action ul{
    list-style: none;
    display: flex;
    justify-content: space-around;
    padding:0 30px;
    position: relative;
    top:65px;
}
.img_action ul li{
    text-decoration: none;
    width:67px;
}
.img_action ul a{
    text-decoration: none;
    color: #EB5428;
    text-transform: uppercase;
    font-family: "Bebas Neue", sans-serif;
    font-size: 20px;
} 
.img_action ul svg{
    width:40px;
    height:40px;
}

ul li .jump_to_recipe{
    width:80px;
}
.img img{
    position:relative;
    top:45px;
 
}
.img p{
    text-align: left;
    padding:30px 10px 0 10px;
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
}
h3{
    font-family: "Bebas Neue", sans-serif;
    font-size: 25px;
}
.details{
    text-align: left;
    font-family: "Montserrat", sans-serif;
}
.details h3{
    text-align: center;
}
.details ul{
    list-style: none;
    padding:0 10px;
}
li .bolder{
    font-weight: 700;
    margin-right:10px;
}

.ingredients{
    text-align: left;
}
.ingredients ul{
    font-family: "Montserrat", sans-serif;
    padding: 0 20px;
}
.ingredients ul li{
    margin:15px 0;

}
.directions ol{
    font-family: "Montserrat", sans-serif;
    text-align: left;
    padding:0 25px;
}

.directions ol li{
    margin:20px 0;
}

.side_dishes{
    background-color: #7ABFBF;
}
.side_dishes h3{
    padding-top: 15px;
    margin:0;
}
.mexican_rice, .salsa, .guacamole, .tortillas{
    padding:0 15px;
    display: inline-flex;
    text-align: left;
    height:25%;
    margin:20px 0;
}
.mexican_rice dl, .salsa dl, .guacamole dl, .tortillas dl{
    margin:0;
}
.mexican_rice img, .salsa img, .guacamole img, .tortillas img{
    width:30%;
    height:30%;
    align-self: center;
}
.mexican_rice dt h4, .mexican_rice dd, .mexican_rice dd h5, .salsa dt h4, .salsa dd, .salsa dd h5, .guacamole dt h4, .guacamole dd, .guacamole dd h5, .tortillas dt h4, .tortillas dd, .tortillas dd h5, {
    margin:3px 22px;
}
.mexican_rice dt h4, .salsa dt h4, .guacamole dt h4, .tortillas dt h4{
    margin-bottom: 10px;
    margin-left:40px;
    text-transform: uppercase;
}
.mexican_rice dd, .salsa dd, .guacamole dd, .tortillas dd{
    font-family: "Montserrat", sans-serif;
}
.mexican_rice dt, .salsa dt, .guacamole dt, .tortillas dt{
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
}
.mexican_rice dd h5, .salsa dd h5, .guacamole dd h5, .tortillas dd h5{
    margin:0;
}

.main_nav{
    position:absolute;
    top:0;
}
.breakfast_nav img, .brunch_nav img, .lunch_nav img, .dinner_nav img, .app_nav img, .dess_nav img, .bev_nav img{
    width: 20%;
    height:20%;
    visibility: hidden;
}
.breakfast_nav, .brunch_nav , .lunch_nav, .dinner_nav, .app_nav, .dess_nav, .bev_nav {
    list-style: none;
    text-decoration: none;
}
nav h3{
    display: none;
}
.nav_box{
    position:absolute;
    top:0px;
    width:414px;
    height:65px;
    background-color: #ffffff;
    font-family: "Bebas Neue", sans-serif;
    font-size: 20px;
}
.burger_box h5{
    padding:0;
    margin:0;
    text-transform: uppercase;
}
.checkburger{
    cursor:pointer;
}
.burger_box{
    align-items: center;
    width:80px;
}

#check{
    display: none;
}
#check:checked  ~ .nav-mobile{
    display: block;
    top:65px;
    left:0;
    position:absolute;
    background-color: #ffffff;
    z-index:3;
    width:414px;
}

.nav-mobile{
    display: none;
    font-family: "Bebas Neue", sans-serif;
    font-size: 20px;
}
.home{
    background-color: #EB5428;
    position: absolute;
    left:80px;
    top:0;
    width:254px;
}
.home_nav p{
    display: none;
}
.nav-mobile img{
    display: none;
}
.nav-mobile p{
    padding:5px 0;
    color: #EB5428;
}
.nav-mobile p:hover{
    background-color: #EB5428;
    color: #F2F2F2;
}
.avatar_box{
    position: absolute;
    top:0;
    right:0;
    height: 65px;
    width:80px;
}
.avatar_box h5{
    padding: 0;
    margin:0;
    text-decoration: none;
    text-transform: uppercase;

}
.search{
    width:100%;
    display: flex;
    position:absolute;
    top:80px;
    left:80px;
    font-family: "Montserrat", sans-serif;
}
.search_term{
    border:3px solid #EB5428;
    border-right:none;
    padding:5px;
    border-radius: 5px 0 0 5px;
    height:20px;
}
.searchbutton{
    position:relative;
    top:8px;
    right:10px;
    border: 1px solid #Eb5428;
    background: #EB5428;
    border-radius: 0 5px 5px 0;
    cursor:pointer;
}

.connect{
    font-family: "Bebas Neue", sans-serif;
    font-size:20px;
    text-transform: uppercase;
    color:#EB5428
}
.connect h3{
    display: none;
}
.social ul{
    display: flex;
    padding:0 15px;
    justify-content: space-between;
}
.social ul li{
    list-style-type: none;
}
.copyright h3{
    display: none;
}

.copyright{
    display: grid;
    grid-template-columns: 414px;
    grid-template-rows:200px 40px 40px ;

}
.copyright img{
    width:200px;
    height:200px;
    grid-row: 1/2;
    justify-self: center;
}
.copyright .copy, .copyright .taco{
    font-family: "Bebas Neue", sans-serif;
    font-size: 20px;
    text-transform: uppercase;
}

@media screen and (min-width:768px){
    body{
        width:768px;
    }
    .nav_box{
        width:768px;
        height:180px;
    }
    .home{
        left:0px;
        width:100px;
    }
    .avatar_box{
        right:0px;
    }
    #check, .checkburger{
        display: none;
    }
    .nav-mobile{
        position: relative;
        display: grid;
        grid-template-columns: repeat(7,105px);
        top:80px;
        left:20px;
    }
    .breakfast_nav p,.brunch_nav p, .lunch_nav p, .dinner_nav p,.app_nav p,.dess_nav p,.bev_nav p{
        margin:0;
    }
    .nav-mobile img{
        visibility: visible;
        display: flex;
        width:50px;
        height:50px;
        position:relative;
        top:0px;   
    }
    .breakfast_img, .brunch_img, .lunch_img, .dinner_img, .app_img, .dess_img, .bev_img{
        left:25px;
    
    }
    .nav-mobile p{
        grid-row:2/3;
    }
    .search{
        position:absolute;
        top:0px;
        left:400px;
        
    }
    main h2{
        text-align: left;
        padding:40px 0 20px 15px;
    }
    .img_action{
        background: #F2F2F2;
    }
    .img img{
        width:768px;
    }
    .details ul{
        text-align: center;
    }
    .combine{
        display: inline-flex;

    }
    .ingredients_box{
        width:250px;
    }
    .directions_box{
        width:500px;
    }
    .mexican_rice, .salsa, .guacamole, .tortillas{
        width:350px;
    }
    .side_dishes{
        display: inline-block;
    }
    .social {
        position: absolute;
        width:400px;
        right:0;
    }

    .copyright img{
        padding-top:15px;
    }
    
}

@media screen and (min-width:1280px){
    body{
        width:1280px;
    }
    .nav_box{
        width:1280px;
        height:100px;
    }
    .home{
        height:100px;
    }
    .home_nav svg{
        padding-top:20px;
    }
    .nav-mobile{
        position: relative;
        display: grid;
        grid-template-columns: repeat(7,105px);
        top:0px;
        left:290px;
    }
    .avatar_box{
        padding-top:20px;
    }
    .search{
        position:absolute;
        top:120px;
        left:500px;
        
    }
    main h2{
        text-align: center;
    }
    .img{
        display:inline-flex;
        width:1280px;
        height:600px;
        margin:20px 0;
    }
    .img_action{
        width: 150px;
        height:600px;
        display: flex;
    }
    .img_action ul{
        flex-direction: column;
    }
    .img img{
        height:600px;
        width:500px;
    }
    .paragraph{
        width:800px;
    }
    .details_box{
        padding:5px 0;
        margin:50px 0;
        background-color: #000000;
        color:#7ABFBF;
        width:1280px;
    }
    .details_box ul{
        display: flex;
        justify-content: space-between;
    }
    .combine{
        width:1280px;
    }
    .directions_box{
        width:950px;
    }
    .side_dishes_boxes {
        display: flex;
        width:1280px;
        height:400px;
    }
    .mexican_rice, .salsa, .guacamole, .tortillas{
        display: inline-block;
    }
    .mexican_rice dt h4, .salsa dt h4, .guacamole dt h4, .tortillas dt h4{
        margin:10px 0;
    }
    .mexican_rice dd, .salsa dd, .guacamole dd, .tortillas dd{
        margin:10px 0;
    }
    .mexican_rice img, .salsa img, .guacamole img, .tortillas img{
        width:250px;
        height:250px;
    }
    .copyright img{
        justify-self: left;
        padding-left: 15px;;
    }
    .copyright{
        display: grid;
        grid-template-columns: 220px 150px;
        grid-template-rows:40px 40px 40px ;
    }
    .taco{
        grid-column: 2/3;
    }
    footer{
        height:250px;
    }

    
    
    }
    



